<div class="bot-container">
  <div class="message-box-wrapper">
    <div class="message-box">
      <h3 class="bot-name">Adviser</h3>
      <p class="bot-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, aliquid laudantium provident cum id ipsa! Velit exercitationem accusantium in optio, doloribus fugiat voluptatum distinctio sed sit, ipsam voluptates, quia consequuntur.</p>
    </div>
  </div>
</div>


<div class="user-container">
  <div class="user-box-wrapper">
    <div class="user-box">
      <h3 class="user-name">You</h3>
      <p class="user-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, aliquid laudantium provident cum id ipsa! Velit exercitationem accusantium in optio, doloribus fugiat voluptatum distinctio sed sit, ipsam voluptates, quia consequuntur.</p>
    </div>
  </div>
</div>


<div class="bot-container">
  <div class="message-box-wrapper">
    <div class="message-box">
      <h3 class="bot-name">Adviser</h3>
      <p class="bot-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, aliquid laudantium provident cum id ipsa! Velit exercitationem accusantium in optio, doloribus fugiat voluptatum distinctio sed sit, ipsam voluptates, quia consequuntur.</p>
    </div>
  </div>
</div>


<div class="bot-container">
  <div class="message-box-wrapper">
    <div class="message-box">
      <h3 class="bot-name">Adviser</h3>
      <p class="bot-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, aliquid laudantium provident cum id ipsa! Velit exercitationem accusantium in optio, doloribus fugiat voluptatum distinctio sed sit, ipsam voluptates, quia consequuntur.</p>
    </div>
  </div>
</div>


<div class="user-container">
  <div class="user-box-wrapper">
    <div class="user-box">
      <h3 class="user-name">You</h3>
      <p class="user-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, aliquid laudantium provident cum id ipsa! Velit exercitationem accusantium in optio, doloribus fugiat voluptatum distinctio sed sit, ipsam voluptates, quia consequuntur.</p>
    </div>
  </div>
</div>

<div class="bot-container">
  <div class="message-box-wrapper">
    <div class="message-box">
      <h3 class="bot-name">Adviser</h3>
      <p class="bot-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, aliquid laudantium provident cum id ipsa! Velit exercitationem accusantium in optio, doloribus fugiat voluptatum distinctio sed sit, ipsam voluptates, quia consequuntur.</p>
    </div>
  </div>
</div>


<div class="bot-container">
  <div class="message-box-wrapper">
    <div class="message-box">
      <h3 class="bot-name">Adviser</h3>
      <p class="bot-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, aliquid laudantium provident cum id ipsa! Velit exercitationem accusantium in optio, doloribus fugiat voluptatum distinctio sed sit, ipsam voluptates, quia consequuntur.</p>
    </div>
  </div>
</div>


<div class="user-container">
  <div class="user-box-wrapper">
    <div class="user-box">
      <h3 class="user-name">You</h3>
      <p class="user-message">.</p>
    </div>
  </div>
</div>



