.layout{
  /* border: 1px solid green; */
  height: 90vh;
  width: 50rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header{
  background-color: white;
  padding: 2rem;
  border: 1px solid #d3d4d3;
}

.content{
  background-color: white;
  flex: 1;
  padding: 2rem;
}

.box{
  background-color: #d3d4d3;
  /* height: 6rem; */
  padding: .5rem;
}

